{:kotoba.app/latest "k51qzi5uqu5dhn9r5k9onthby8k0tm8pvagvfworonagyf9cpof8i7h3bo3i81", :kotoba.app/site-cid "bafybeibzpteblfoffmchv5myj4xsnijsyt6ugbvwlgyxxfsuw36uyekxe4", :kotoba.app/id "cloud.itonami.app-air-yield", :kotoba.app/kind :document, :kotoba.app/embed-url "ipns://k51qzi5uqu5dhn9r5k9onthby8k0tm8pvagvfworonagyf9cpof8i7h3bo3i81", :published {:own-nodes {:cid "bafybeibzpteblfoffmchv5myj4xsnijsyt6ugbvwlgyxxfsuw36uyekxe4", :ipns "k51qzi5uqu5dhn9r5k9onthby8k0tm8pvagvfworonagyf9cpof8i7h3bo3i81", :nodes ["gad" "xavier" "jacob"], :at "2026-10-09T05:01:16Z"}}}
